body {
	background-image: url("images/ar.jpg");
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cccccc;
}

#list {
	margin: 150px;
	text-align: center;
}

.header {
  background: black;
  color: grey;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: 0.2s;
} 


#logo{ 
	position:fixed;
	margin-top: 10px; 
	margin-left: 10px;
	top:0; 
	left:0; 
} 

#pop{ 
	position:fixed; 
	margin-top: 5px; 
	margin-left: 10px;
	top:0; 
	right:0; 
} 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: grey;
  text-align: center;
  font-size: 13px;
}

#list {
	background-image: url("images/blackk.jpg");
    margin-top: 350px; 
	border: 4px solid black;
}

#input {
     background-color: black;
     color: #e7e7e7;
	font-size: 15px;
	font-weight: bold;
	border: 2px solid grey;
	width: 100%;
}

#enter {
     background-color: black;
     color: #e7e7e7;
	font-size: 15px;
	font-weight: bold;
}

#type {
	font-weight: bold;
}

#home {
	top: 15px;
	left: 250px;
	position: fixed;
	margin-bottom: 50px;
}

#lists {
	margin-top: 120px;
	list-style-position: inside;
	text-align: center;
}

li {
	font-family: Verdana;
	font-size: 20px;
	font-weight: bold;
	color: black;

}

.style {
	color: black;
	font-size: 15px;
	font-weight: bold;
}


#f {
     background-color: black;
     color: #e7e7e7;
	font-size: 15px;
	font-weight: bold;

}